@model IEnumerable<Leaderboard.Entities.LeaderboardItem>

<br>
<table class="tigerTable">
    <thead>
        <tr>
            <th>Competitor</th>
            <th>Played</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Drawn</th>
            <th>Points</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Competitor
            </td>
            <td>
                @item.Played
            </td>
            <td>
                @item.Won
            </td>
            <td>
                @item.Lost
            </td>
            <td>
                @item.Drawn
            </td>
            <td>
                @item.TotalPoints
            </td>
        </tr>
    }
</table>
<br />



@using (Html.BeginForm("Competitor", "Leaderboard"))
{
    <input type="submit" value="Add Competitor" />
}  
<br>
@using (Html.BeginForm("HeadToHead", "Leaderboard"))
{
    <input type="submit" value="Add Head to Head" />
}
